@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat&display=swap');

$athens-gray: #F9FAFB;
$ebony-clay: #232B39;
$geyser: #D8DEE4;
$loblolly: #B8C2CC;

$body-font: 'Montserrat', 'Droid Sans', 'Helvetica Neue', sans-serif;
$header-font: 'Alfa Slab One', 'Droid Sans', 'Helvetica Neue', sans-serif;
